PORT=3000


DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_NAME=


JWT_ACCESS_TOKEN=SECRET-KEY
JWT_REFRESH_TOKEN=SECRET-KEY
JWT_ACCESS_TOKEN_TTL='30m'
JWT_REFRESH_TOKEN_TTL='7d'
JWT_EMAIL_VERIFICATION_TOKEN=your-secret-key


MAIL_HOST=sandbox.smtp.mailtrap.io
SMTP_USERNAME=
SMTP_PASSWORD=


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=